<header></header>
<h1>野球まとめのまとめ</h1>


<div class="wrapper">
  <div class="box">
    <p class="site_title"><%= @rss1["channel"]["title"] %></p>
    <div>
      <% @rss1["item"].each do |feed| %>
        <li><%= link_to feed["title"], feed["link"] %></li>
      <% end %>
    </div>
  </div>
  <div class="box">
    <p class="site_title"><%= @rss2["channel"]["title"] %></p>
    <div>
      <% @rss2["item"].each do |feed| %>
        <li><%= link_to feed["title"], feed["link"] %></li>
      <% end %>
    </div>
  </div>
  <div class="box">
    <p class="site_title"><%= @rss3["channel"]["title"] %></p>
    <div>
      <% @rss3["item"].each do |feed| %>
        <li><%= link_to feed["title"], feed["link"] %></li>
      <% end %>
    </div>
  </div>
</div>
